.c-projects-section { $c: &;
&__btn {
		display: flex;
		align-items: center;
		margin-top: 40px;

		.cta-button {
			margin-right: 8px;
		}

		.works-button {
			&:hover {
				.circle-bg {
					transition: all .2s cubic-bezier(.215,.61,.355,1);
					transform: scale(.94);
				}
			}

			.circle-bg {
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 18px;
				height: 18px;
				margin-right: 8px;
				font-size: 14px;
				border-radius: 50%;
				will-change: transform;
				background: linear-gradient(90deg, $primary-color 0%, $secondary-color 167%);
				transition: all .2s cubic-bezier(.215, .61, .355, 1);
			}

			.button-arrow {
				color: $white;
			}
		}

		@media only screen and (max-width: $desktop) {
			margin-top: 32px;
		}

		@media only screen and (max-width: $mobile) {
			.cta-button,
			.works-button {
				font-size: 15px;
			}
		}
	}
}