<!-- begin projects -->
<section class="section projects" id="projects">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner animate">

          <!-- Section Header -->
          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ include.title }}</h2>

              {% if include.link_url %}
              <a class="section__link" href="{{ include.link_url }}">
                View all <ion-icon name="arrow-forward"></ion-icon>
              </a>
              {% endif %}
            </div>

            {% if include.description_html %}
            <div class="section__description">
              {{ include.description_html }}
            </div>
            {% endif %}
          </div>

          <!-- Projects Grid -->
          {% if include.show_projects %}
          <div class="row">

            {% assign projects = site.projects %}

            {%- if include.featured_only == true -%}
              {% assign projects = site.projects | where: "featured", true %}
            {%- endif -%}

            {%- if include.category -%}
              {% assign projects = projects | where: "category", include.category %}
            {%- endif -%}

            {% for project in projects limit:6 %}
              {% bookshop project-card project=project %}
            {% endfor %}

          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end projects -->
