---
layout: default
---

<div class="container">

  {% bookshop page-heading title=page.title description=page.subtitle %}
  {% assign page_image = site.baseurl | append: page.image %}
  {% bookshop page-image image=page_image %}

  <div class="page animate">
    {{ content }}
  </div>

  {% if page.previous.url %}
  <div class="project__navigation animate">
    <a class="project__prev" href="{{page.previous.url}}">
      <div class="project__box">
        <span class="project__nav__info">Next Project</span>
        <h2 class="project__nav__title">{{page.previous.title}}<ion-icon name="arrow-forward-circle"></ion-icon></h2>
      </div>
    </a>
  </div>
  {% endif %}

  {% if page.gallery_images %}
    <section class="standalone-gallery section">
      <div class="container page">

        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">Design & Prototyping</h2>
          </div>
          <div class="section__description">
            Mechanical design, fabrication, and integration stages.
          </div>
        </div>

        <div class="gallery-grid">
          {% for img in page.gallery_images %}
            <div
              class="gallery-item"
              style="--gallery-bg: url('{{ site.baseurl }}{{ img }}');"
            >
              <img
                src="{{ site.baseurl }}{{ img }}"
                alt="Project gallery image"
                loading="lazy"
              >
            </div>
          {% endfor %}
        </div>

      </div>
    </section>
    {% endif %}


</div>
